.search {
  position: relative;
  max-width: 600px;
  width: 100%;
  &__input {
    height: 51px;
    width: 100%;
    border-radius: 30px;
    padding-left: 40px;
    border: 1px solid #d9d9d9;
    color: #333;
  }
  &__ico {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
  }
}
